@charset "ISO-8859-1";

* {
	background-color: lightgray;
	color: darkblue;
}

#id1 {
	background-color: gray;
	color: lightblue;
}

#id2 {
	background-color: purple;
	color: gold;
}

body {
	padding: 0;
	border: none;
}

h1 {
	width: 7%;
}

table {
	width: 25%;
}

nav {
	height: 10%;
}

nav a {
	display: inline-block;
	background-color: white;
}